.div {
  display: flex;
  justify-content: center;
}

.label {
  margin-bottom: 20px;
  color: blue;
  font-weight: 500;
}
.input {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px;
  height: 30px;
  border: 1px solid violet;
  border-radius: 5px;
}
.input:focus,
.input:hover {
  border: 2px solid violet;
}
